/*ОСНОВНАЯ ТАБЛИЦА СТИЛЕЙ*/
*{
	padding:0; margin:0;
}
p, h1{
	margin:0 0 30px 0;
}
.content{
	max-width:900px; margin:20px auto; padding:0 30px;
}
/*Початок мого коду*/
@media screen and (orientation:landscape){ /*медиазапрос для переопределения стилей для екрана с макс шириной 800px*/
	/*вместо max-width можно указать еще такие параметры:
min-width переопределяет стили для минимальной ширины окна просмотра,
max-device-width указывает максимальную ширину устройства через которое мы просматриваем контент,
min-device-width
max-device-height указывает максимальную высоту устройства через которое мы просматриваем контент,
mid-device-height

Дополнительно могут быть такие типы медиазапросов:
@media screen
@media print - для печатных запросов
@media tv - для телевизоров
@media projection - для проекторов

НАИБОЛЕЕ ПОПУЛЯРНЫЕ ПАРАМЕТРЫ ДЛЯ МЕДИАЗАПРОСОВ(ВМЕСТО screen):
 print (для печатных устройст)
 tv(для телевизора)
 projection (стили для проектора);

 ДОПОЛНИТЕЛЬНЫЕ ПОПУЛЯРНЫЕ ПАРАМЕТРЫ (вместо max-device-width ect..) они не все хорошо поддерживаются браузерами (особенно мобильными) 
 orientation:landscape стили будут назначаться для альбомной ориентации для планшета
 orientation:portrait стили будут назначаться для портретной ориентации для планшета

 aspect-ratio:1/1 or 16/9 or 16/10 специфическое свойство, редко можно встретить (часто для переопределение стилей для ТV ); 	
 ;

	*/
      .content{ /*указываем название класса для которого хотим переопределить стили если будет екран шириной 800px*/
       background:#0cf;/* мы включили новое свойство беграунд, ето значит, что если у нас екран будет 800пксл, то беграунд будет синий*/
       padding:0 60px; 
    }
}
